
.example-container {
  display: flex;
  flex-direction: column;
  height: 84vh;
  overflow: hidden;
}

.sidenav {
  flex: 0 0 auto;
  overflow-y: auto;
  background-color: #3f51b5;
  width: 180px;
}
.sidenav i{
    padding-right: 10px;
}

.link{
    color: #fff;

    display: flex;
    align-items: center;
    
    span{
      color: #fff;
    }
}
.link i.material-icons.v-middle {
  color: #fff; /* Define a cor para os ícones */
}
.content{
  padding: 16px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
}
