@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.home .title{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
}

.conteiner{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;

    margin-top: 2rem;
    margin-bottom: 2rem;

    .subtitle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        max-width: 50%;
    }
    .img{
        margin-left: 2rem;
        width: 450px;
        height: 300px;
        border-radius: 100%;
        transition: transform 0.3s ease;
    }
    .img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}