<mat-card class="home mat-elevation-z3 conteiner">
  <mat-card-title class="title">Bem Vindo ao site de estudos!</mat-card-title>
  <div class="content">
    <img
      src="../../../assets/2479dff3-c020-40da-903c-be3a24cfa79e.jpg"
      alt="Imagem Junior"
      class="img"
    />
    <mat-card-subtitle class="subtitle">
      Este é um website dedicado a uma série de exercícios destinados a aprimorar
      meu conhecimento e habilidades no campo do desenvolvimento web. Atualmente,
      meu foco principal recai sobre o AngularJS, embora eu também tenha experiência
      em desenvolvimento com ReactJS. Minha paixão reside no universo do desenvolvimento
      frontend, e tenho dedicado um considerável esforço em meus estudos para aprimorar
      minha especialização nessa área
    </mat-card-subtitle>
  </div>
</mat-card>
