<mat-toolbar class="footer degrade">
    <div>
        <span class="letter">Desenvolvido por Junior</span>
        <i class="material-icons red">
            favorite
        </i>
        <span class="letter">@2023</span>
    </div>

    <div class="div-icons">
        <img src="../../../../assets/icons8-instagram-circle-30.png" routerLink="https://www.instagram.com/junior_landin/">
        <img src="../../../../assets/icons8-github-30.png" routerLink="https://github.com/JuniorLandin">
    </div>
</mat-toolbar>